version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: energy_postgres
    restart: always
    environment:
      POSTGRES_DB: energy
      POSTGRES_USER: energy_user
      POSTGRES_PASSWORD: energy_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    container_name: energy_api
    build:
      context: ./api
      dockerfile: Dockerfile
    command: npm run start:dev
    volumes:
      - ./api:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres

volumes:
  postgres_data:
